.button {
  border-radius: 25px;
  border: 2px solid white;
  background-color: #1a2938;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 10rem;
  margin: 0 1rem;
}

.button:hover,
.button:active {
  border: 2px solid #409bf0;
  color: #409bf0;
}

.submit {
  margin: 1.5rem 0 0 0;
  width: 100%;
}
