/* FIXME: add margin on top input when browser is shrunk vertically */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 1rem;
  font-size: 1.5rem;
}

input {
  width: 5rem;
  margin-top: 0.25rem;
  font-size: 1.5rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem ;
  border: 1px solid black;
  border-radius: 15px;
}

input:focus {
  border: 1px solid #409BF0;
}

.error {
  color: #ff453a;
  font-size: 1rem;
  margin-top: 0.25rem;
}
